################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project/.vs/Labs/v15/Browse.VC.opendb
